:root {
    --code-kw-color: blue;
    --code-co-color: #008000;
    --code-dt-color: blue;
    --code-st-color: #a31515;
    --code-ex-color: #999;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    scroll-margin-top: 3rem;
}

pre,
code {
    font-family: "Anonymous Pro", inconsolata, Monaco, Consolas, monospace;
}


#TOC li {
    margin-top: 0em;
    margin-bottom: 0em;
}

p#last_updated {
    font-size: 90%;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
}

p#author {
    font-size: 90%;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
}


pre {
    /* margin-left:  1.5em; */
    /* margin-right: 1.5em; */
    background-color: #f8f8fc;

    padding: 0.8em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    border-style: solid;
    border-width: 0.08em;
    border-color: #e2e2e2;

    border-radius: 0.5em;

    /*    box-shadow:4px 4px 13px 0px rgba(0,0,0,0.19); */
}

code {
    background-color: #f8f8fc;
    padding-left: 0.2em;
    padding-right: 0.2em;

    /* padding-top:   0.1em; */
    /* padding-bottom: 0.1em; */

    font-size: 100%;

    margin-left: 0.1em;
    margin-right: 0.1em;

    border-style: solid;
    border-width: 0.08em;
    border-color: #e2e2e2;

    border-radius: 0.25em;
}

pre code {
    background-color: transparent;
    border-style: none;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

pre {
    overflow-x: scroll;
}

code {
    white-space: pre-wrap;
}

pre code {
    white-space: pre;
}

body {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0px;
}

h1 {
    font-size: 240%;
}

h2 {
    border-bottom: 0.075em solid #AAA;
    /* border-top:    0.075em solid #AAA; */
    margin-top: 1.2em;
    margin-bottom: 1.2em;

    padding: 0.1em 0px;

    font-size: 145%;
}

h3 {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

figure {
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    figure {
        max-width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    figure {
        max-width: 400px;
    }
}

p {
    margin: 1.5em 0em;
}

h1+p,
h2+p,
h3+p,
h4+p {
    margin-top: 0px;
}

li>p:first-child {
    margin-top: 0px;
}

li>p:last-child {
    margin-bottom: 0px;
}

figure {
    background-color: white;
    border-style: solid;
    border-width: 0.075em;
    border-color: #AAA;
    padding: 0.5em;


    margin-left: auto;
    margin-right: auto;
}

figure figcaption {
    text-align: center;
    font-weight: bold;
}

figure img {
    width: 100%;
    height: auto;
}

div.note,
section.note {
    background-color: hsl(155, 40%, 97%);
    padding: 0.1em 1em;
    border-radius: 1em;
}

div.caution,
section.caution {
    background-color: hsl(0, 90%, 95%);
    padding: 0.1em 1em;
    border-radius: 1em;
}

div.caution>p:first-child::before,
section.caution>p:first-child::before {
    content: "注意：";
    font-weight: bold;
    color: hsl(10, 100%, 48%);
}


/* div.mission { */
/*     margin-top:    1em;  */
/*     margin-bottom: 1em; */

/*     padding: 1em; */

/*     background-color: #f8f8f8; */
/*     border-radius: 0.5em; */
/* } */

/* div.mission h2 { */
/*     border-style: none;  */
/*     margin: 0px; */
/* } */

/* div.mission p { */
/*     display: block;  */
/*     margin: 0px; */
/*     /\* margin-top: 2em; *\/ */
/*     /\* margin-bottom: 2em; *\/ */


/*     /\* background-color: #E00;  *\/ */
/*     /\* color: white; *\/ */
/*     font-size: 140%; */
/*     /\* font-weight: bold; *\/ */

/*     /\* padding: 1em; *\/ */

/*     /\* background-color: #f8f8f8; *\/ */
/*     /\* border-style: solid; *\/ */
/*     /\* border-width: 0.08em; *\/ */
/*     /\* border-color: #e2e2e2; *\/ */

/*     /\* border-radius: 0.5em; *\/ */
/* } */

/* @media only screen and (min-width: 768px) { */
/*     div.mission { */
/*         position: relative;  */
/*         text-align: center; */

/*         margin: 2em auto 2em auto; */
/*     } */

/*     div.mission p { */
/*         display: inline-block; */
/*         letter-spacing: 0.05em; */
/*     } */

/*     /\* div.mission p::before { *\/ */
/*     /\*     display: inline; *\/ */
/*     /\*     content: "Mission: " *\/ */
/*     /\* } *\/ */
/* } */

/* @media only screen and (min-width: 1024px) { */
/*     div.mission p { */
/*         font-size: 200%; */
/*     } */
/* } */


div#tasks>ol {
    list-style: none;
    counter-reset: task-counter;
}

div#tasks>ol>li {
    counter-increment: task-counter;
    margin-left: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div#tasks>ol>li::before {
    content: "実験タスク" counter(task-counter);
    font-weight: bold;
    margin-right: 0.5em;
}

/* span.required::before { */
/*     content: "["; */
/* } */

/* span.required::after, span.optional::after  { */
/*     /\* content: "]"; *\/ */
/*     margin-right: 0.5em;  */
/* } */

/* span.optional::before { */
/*     content: "["; */
/* } */

span.required,
span.optional {
    display: inline-block;
    font-size: 90%;
    font-weight: bold;
    border-radius: 0.6rem;
    padding: 0rem 0.3rem;
    margin-left: -0.2em;
    margin-right: 0.5em;
}

span.required {
    color: hsl(0, 100%, 50%);
    background-color: hsl(0, 100%, 95%);
    /* border: 0.1em solid hsl(0, 100%, 50%); */
}

span.optional {
    color: hsl(100, 90%, 30%);
    background-color: hsl(100, 90%, 90%);
    /* border: 0.1em solid hsl(100, 90%, 30%); */
}


@media only screen and (min-width: 768px) {
    li {
        margin-top: 0.45em;
        margin-bottom: 0.45em;
    }

    ul#LINKS {
        position: fixed;
        margin: 0px;
        padding: 0px;

        top: 0px;
        /* left:  calc( -1.5em);   */
        left: 0px;
        padding-left: 1vw;
        padding-right: 1vw;
        width: 98vw;
        /* calc(100%);  */
        /* max-height: 2em;  */
        background-color: hsl(24, 65%, 10%);

        list-style: none;
        display: flex;
        justify-content: flex-end;
        line-height: 180%;

        font-size: 0.9rem;

        z-index: 3;
    }

    #LINKS li {
        margin: 0px;
        padding: 0px;
    }

    #LINKS li:first-child {
        margin-right: auto;
    }

    #LINKS a {
        display: block;
        padding: 0.3em 0.5em;
        margin: 0px 0px;
        background-color: transparent;
        text-decoration: none;

        /* border-style: solid;
        border-width: 0px 0px 0px 0.1em;
        border-color: #4b372a; */

        color: white;
    }

    #LINKS a:hover {
        background-color: hsl(24, 35%, 25%);
    }

    #LINKS li.current a {
        box-shadow: inset 0px -0.3rem 0px 0px hsl(24, 80%, 55%);
    }

    h1 {
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 820px) {
    ul#LINKS {
        padding-left: 2vw;
        padding-right: 2vw;
        width: 96vw;
    }

    #LINKS a {
        padding-left: 1em;
        padding-right: 1em;
    }

    #TOC {
        position: fixed;
        display: block;
        width: 15.5rem;

        /* min-height: 100%; */
        height: 100vh;
        top: 0px;
        right: 2vw;
        overflow-y: scroll;
        overflow-x: hidden;
        /* background-color: hsl(55, 23%, 92%); */
        /* background-color: hsl(55, 3%, 99%); */
        /* background-color: #EBE9DF; */
        /* background: black; */
        /* color: white; */
        z-index: 1;
        /* box-shadow: -1em 0px 2em -1em hsla(0, 0%, 0%, 10%) inset; */
    }

    /* #TOC a { */
    /*     color: white; */
    /* } */
    /* #TOC a:visited { */
    /*     color: #999; */
    /* } */

    #TOC a {
        text-decoration: none;
    }

    #TOC li a:hover {
        background-color: hsl(55, 13%, 90%);
        /* background-color: #D9D6CC; */
        /* border-radius: 1em; */
    }

    /* #TOC ul:before { */
    /*     content: "目次"; */
    /*     font-size: 120%; */
    /*     font-weight: bold; */
    /*     margin-left: 0.5em; */
    /* } */
    #TOC ul {
        font-size: 90%;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #TOC>ul {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #TOC>ul::before {
        content: 'ページ内リンク';
        display: inline-block;
        margin-top: 4rem;
        font-weight: bold;
    }

    #TOC li {
        margin-left: 0px;
        display: block;
        padding-bottom: 0.1em;
    }

    #TOC>ul>li>a {
        padding-left: 0em;
    }

    #TOC ul>li>ul>li>a {
        padding-left: 1em;
    }

    #TOC ul>li>ul>li>a::before {
        content: '・';
        display: block;
        position: absolute;
        left: 0em;
    }


    #TOC li a {
        display: block;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        /* padding-left: calc(0.6em/0.9);
        padding-right: calc(0.6em/0.9); */
    }

    html {
        position: relative;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    body {
        /* width: 90%; */
        margin-left: 0;
        margin-right: 18rem;
        padding-left: 0px;
        padding-right: 0px;
    }

    /* h1, h2, h3, h4, h5, h6, pre, p, body > ul, div#tasks > ul, body > ol, div#tasks > ol  {  */
    /*     margin-left: calc( 20% + 5% ); */
    /*     margin-right: calc( 5% ); */
    /* } */

    /* h1 {
        margin-left: calc(1.5rem);
        margin-right: calc(1.5rem);
    }

    body>.main {
        margin-left: calc(1.5rem);
        margin-right: calc(1.5rem);
    } */
}

@media only screen and (min-width: 960px) {
    ul#LINKS {
        padding-left: 5vw;
        padding-right: 5vw;
        width: 90vw;
        font-size: 1rem;
    }

    #TOC {
        right: 5vw;
    }

    html {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media only screen and (min-width: 1200px) {
    ul#LINKS {
        padding-left: 10vw;
        padding-right: 10vw;
        width: 80vw;
        font-size: 1rem;
    }

    #TOC {
        right: 10vw;
    }

    html {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    body {
        margin-right: 19rem;
    }

}



h3 {
    font-size: 120%;
    margin-top: 1.5em;
}




strong {
    font-style: normal;
    font-weight: bold;
    color: red;

    /* background: linear-gradient(to top, #FF6 60%, transparent 50%);     */
}

em {
    font-style: normal;
    font-weight: bold;
    /* color: #ff2f92; */
    color: hsl(10, 100%, 48%);
    /* background: linear-gradient(to top, #FF6 60%, transparent 50%);     */
}

a {
    color: hsl(200, 100%, 48%);
    /* color: #00aaff; */
    /* transition: background-color 0.3s ease-in-out; */
}

a:visited {
    color: #999;
}

@media print {
    #TOC {
        display: none;
    }

    #LINKS {
        display: none;
    }

    h1 {
        font-size: 140%;
    }

    h2 {
        font-size: 120%;
    }

    body {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    pre {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.5em;
    }
}

/* syntax highlighting */

span.ex {
    color: var(--code-ex-color);
}

span.kw {
    font-weight: bold;
    color: var(--code-kw-color);
}

span.co {
    color: var(--code-co-color);
}

span.dt {
    color: var(--code-dt-color);
}

/* span.op { */
/*     color: blue;  */
/* } */

span.st {
    color: var(--code-st-color);
}

span.sc {
    color: var(--code-st-color);
}